<template name="FullGraphs">
  <p><b>
    Full Graphs will parse your matches data in some way.
  </b></p>
  <p>
    To choose a field to be displayed, simply type in its key, without the 'stats.' prefix, and click 'add'.
  </p>
  <p>
    For each "X-axis" chosen, we create a bar column of the desired field parsed according to
    the selected graph 'Type'. There are currently 7 different parsing options, with more on the way.
  </p>
  <p>
    Keep in mind that these graphs are subjected to
    <a href="{{pathFor route='Docs' id='Filters'}}">filters</a>,
    so only the matches which match the criteria will be parsed.
  </p>
  
  <h4 class="docsItem">Average</h4>
  <div class="docsItemBox">
    <div class="docsInlineItem">
      <div>field types:</div> numbers
    </div>
    <br>
    <p>
      Get the average value of the desired field in the selected matches.
    </p>
    <p>
      Matches where the field was not set <strong>will</strong> evaluate to a zero entry.
    </p>
  </div>

  <h4 class="docsItem">Min & Max</h4>
  <div class="docsItemBox">
    <div class="docsInlineItem">
      <div>field types:</div> numbers
    </div>
    <br>
    <p>
      Get the minimum and maximum values that the desired field held in the selected matches.
    </p>
  </div>
  
  <h4 class="docsItem">Overview</h4>
  <div class="docsItemBox">
    <div class="docsInlineItem">
      <div>field types:</div> numbers
    </div>
    <br>
    <p>
      This option will create 3 bars for each axis, with the corresponding 'Min', 'Max' and 'Average' Values.
    </p>
  </div>
  
  <h4 class="docsItem">Sum</h4>
  <div class="docsItemBox">
    <div class="docsInlineItem">
      <div>field types:</div> numbers
    </div>
    <br>
    <p>
      Get the sum of the values of the desired field in the selected matches.
    </p>
  </div>
  
  <h4 class="docsItem">Exists</h4>
  <div class="docsItemBox">
    <div class="docsInlineItem">
      <div>field types:</div> numbers, strings
    </div>
    <br>
    <p>
      This option will count how many matches have the desired field set with anything but a
      <a href="http://www.sitepoint.com/javascript-truthy-falsy/" target="blank">falsy javascript value</a>
      in the selected matches.
    </p>
  </div>
  
  <h4 class="docsItem">Values</h4>
  <div class="docsItemBox">
    <div class="docsInlineItem">
      <div>field types:</div> numbers, strings
    </div>
    <br>
    <p>
      This option will create a pie chart where each slice represents a diferent value that the desired
      field took in the selected matches.
    </p>
    <p>
      You should always initialize the desired field with a default value in your mod,
      otherwise you will get a slice for the undefined value.
    </p>
    <p>
      This graph doesn't really work on fields that have a wide range of possible values like the time.
      Though it is possible to pre-parse the data on your mod to something like: "under 30 minutes", "30 minutes or more".
    </p>
  </div>
</template>