<template name="MasterLayout">
  {{> LoadingModal}}
  {{> InfoModal}}
  {{> EmailModal}}
  
  {{> Header}}
  <div class="outer-content">
    <div class="row row-fix" style="margin-top: 20px;">
      <div class="col-xs-8 col-xs-offset-2">
        {{> yield}}
      </div>
    </div>
  </div>
  {{> Footer}}
</template>


<template name="Header">
  <nav class="navbar navbar-default header">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{pathFor route='Home'}}">Dota Tracker</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{pathFor route='docs'}}">Docs</a></li>
        {{#if currentUser}}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
             aria-haspopup="true" aria-expanded="false" id="navMods">
             My Mods
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            {{#each myMods}}
              <li><a href="{{pathFor route='Mod' slug=slug}}">{{name}}</a></li>
            {{/each}}
            <li role="separator" class="divider"></li>
            <li><a href="{{pathFor route='NewMod'}}">New Mod</a></li>
          </ul>
        </li>
        {{/if}}
        {{> LoginMenu}}
      </ul>
    </div>
  </nav>
</template>

<template name="LoginMenu">
  <li class="dropdown">
    <a class="dropdown-toggle header-links" data-toggle="dropdown" id="navLogin">
      {{#if currentUser}}
        {{currentUser.username}}
      {{else}}
        Log in
      {{/if}}
    </a>
    <ul class="dropdown-menu dropdown-menu-right login-menu" role="menu" aria-labelledby="dropdownMenuDivider">
      {{#unless loggingIn}}
        {{#if currentUser}}
          {{#if getSession 'logOpt'}}
            <form class="form" id="loginForm">
              <li><input class="form-control loginform" id="oldPassword" type="password" placeholder="old password"></li>
              <li><input class="form-control loginform" id="passwordLogin" type="password" placeholder="new password"></li>
              <li><input class="form-control loginform" id="confirmPassword" type="password" placeholder="confirm password"></li>
              <li><button type="submit" class="btn loginButtons" id="submitLogin">Change Password</button></li>
              <li><button type="button" class="changeOpt" id="changeLogin">Cancel</button></li>
            </form>
          {{else}}
            <li><button type="button" class="btn loginButtons changeOpt">Change Password</button></li>
            <li><button type="button" id="btnLogout" class="btn loginButtons">Logout</button></li>
          {{/if}}
        {{else}}
          <form class="form" id="loginForm">
            <li><input class="form-control loginform" id="username" type="text" placeholder="username"></li>
            <li><input class="form-control loginform" id="passwordLogin" type="password" placeholder="password"></li>
            {{#if getSession 'logOpt'}}
              <li><input class="form-control loginform" id="confirmPassword" type="password" placeholder="confirm password"></li>
            {{/if}}
            <li><button type="submit" class="btn loginButtons" id="submitLogin">{{getSubmit}}</button></li>
            <li><button type="button" class="changeOpt" id="changeLogin">{{getChangeOpt}}</button></li>
          </form>
        {{/if}}
      {{else}}
        <div class="loggingIn">
          <i class="fa fa-spinner fa-spin"></i> Loading...
        </div>
      {{/unless}}
    </ul>
  </li>
</template>

<template name="Footer">
  <div class="footer navbar" role="navigation">
    <div class="container container-max">
      <ul class="nav navbar-nav navbar-left">
        <li><a id="contact">contact: dotatracker.contact@gmail.com</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropup">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Language</a>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li><a>English</a></li>
            <li><a>Portuguese</a></li>
            <li><a>Russian</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</template>