.header {
  background-color: #205081;
  color: #fff;
  margin-bottom: 0;
  height: 50px;
  border: 0 !important;
  border-radius: 0;
  -webkit-box-shadow: 0 0 5px rgb(0, 0, 0);
  box-shadow: 0 0 5px rgb(0, 0, 0);
  z-index: 10;
}

.header .navbar-header .navbar-brand {
  color: #fff;
}

.footer .navbar-nav > li > a,
.header .navbar-nav > li > a {
  color: #fff !important;
  background-color: transparent !important;
}

.footer .navbar-nav > li > a:hover,
.header .navbar-nav > li > a:hover {
  color: #ddd !important;
}

.footer {
  height: 60px;
  border-radius: 0;
  border: 0;
  background-color: #32323e;
  margin-bottom: 0;
}

.outer-content {
  background-color: #f1f1f1;
  min-height: 100%;
  padding-bottom: 70px;
}

/* Wrapper for page content to push down footer */
.outer-content {
  min-height: 100%;
  height: auto;
  margin: -50px auto -60px;
  padding: 50px 0 60px;
}


/***** LOGIN DROPDOWN *****/
.login-menu {
  padding: 10px;
  width: 220px;
}

.loginButtons {
  width: 100%;
  border: 1px solid #205081;
  background-color: transparent;
  color: #205081;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 5px;
}

#changeLogin {
  font-size: 12px;
  border: none;
  background-color: transparent;
  float: right;
  color: black;
  /*text-decoration: underline;*/
  margin-bottom: -8px;
  margin-top: 3px;
  outline: none;
}

.login-menu > form > li > input {
  margin-bottom: 5px;
}

.loggingIn {
  color: black;
  text-align: center;
}