<template name="Modeling">
  <p><b>
    Always model your database keeping in mind what kind of graphs you want to produce.
  </b></p>
  <p>
    There are 3 main fields for each tracked match:
  </p>

  <pre><code class="js hljs">
  {
    date: 1437094871861,

    tags: {
      version: '1.0.3',
    },

    stats: {
      time: 45,
      hero: 'techies',
    }
  }</code></pre>

  <h4 class="docsItem">Date</h4>
  <div class="docsItemBox">
    <p>
      This is a timestamp (not UNIX) from the time when your match was recorded.
      It is used as the default order and can also filter the matches.
    </p>
  </div>

  <h4 class="docsItem">Tags</h4>
  <div class="docsItemBox">
    <p> This is a key-value object, that is only used to order and filter matches.</p>
    <p> Some good tags include: 'version', 'map', 'debug', etc</p>
    <p> Every match created online through the webpage (not using the API), receives a tag "debug = 1"</p>
    <p> Only matches with the tag "debug != 1" will count to the mod total matches.</p>
  </div>

  <h4 class="docsItem">Stats</h4>
  <div class="docsItemBox">
    <p> This is the most important asset of your record, where we gather the data to plot our graphs.</p>
    <p> It is a key-value object, that can also be used to order the matches.</p>
    <p> SSome good stats include: 'game time', 'number of players', 'heroes picked', etc</p>
    <p> It is best to add some debug matches using the online debug tool through the website first,
      so you can see how the graphs will look like</p>
  </div>
</template>