<template name="Filters">
  <p><b>
    Filters help you select what matches should be used on the graphs.
  </b></p>
  
  <h4 class="docsItem">Date</h4>
  <div class="docsItemBox">
    <p>
      Set a time range for when the matches happened.
    </p>
  </div>
  
  <h4 class="docsItem">Tags</h4>
  <div class="docsItemBox">
    <p>
      Required tags will make only matches with desired tag to be selected, while 
      denied tags will exclude any match that has the desired tag.
    </p>
    <p>
      To choose a field to be displayed simply type in it's key, without the 'tags.' prefix,
      fill what value the field shoud/shouldn't have and click 'add'.
    </p>
    <p>
      By default matches with the tag: 'debug = 1' are excluded.
    </p>
  </div>
  
  <h4 class="docsItem">Limit</h4>
  <div class="docsItemBox">
    <p>
      These will limit how many matches will be used to plot the graphs.
    </p>
    <p>
      The Live Limit is used on Live Graphs, while the Full Limit is used on both Full and
      Relational Graphs.
    </p>
    <p>
      Setting a limit is good due to performance reasons.
    </p>
  </div>
  
  <h4 class="docsItem">Order</h4>
  <div class="docsItemBox">
    <p>
      You can order the matches based on <a href="{{pathFor route='Docs' id='Modeling'}}">any field</a>
      of a match.
    </p>
    <p>
      In order to select a tag or stat, you must add the prefix 'tags.' and 'stats.'
      to the keys, respectively.
    </p>
    <p>
      The default order is by date, and the ordering follow
      <a href="http://docs.mongodb.org/manual/reference/method/cursor.sort/" target="blank">these rules</a>.
    </p>
  </div>
</template>