<head>
  <meta charset="utf-8">
  <title>Dota Tracker</title>
  <meta name="description" content="dotaTracker">
  <link href="/img/dota.png" rel="shortcut icon"/>
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
