.deleteModal {
  width: 250px;
  text-align: center;
}

.deleteModalSubmit {
  background-color: #d84a38 !important;
  width: 105px;
}
.deleteModalSubmit:active,
.deleteModalSubmit:focus,
.deleteModalSubmit:hover {
  background-color: #c63927 !important;
}

.cancelModal {
  width: 105px;
}