.loadingModal {
  width: 250px;
  text-align: center;
  font-size: 2em;
}

#loadingModal h3 {
  font-family: 'Dosis';
  font-size: 16px;
  font-weight: bolder;
  margin-top: 0px;
}

#loadingModal .modal-content {
  border: 3px solid rgb(170, 170, 170);
  border-radius: 0px;
  top: 150px;
  width: 350px;
  left: -20px;
}