<template name="LiveGraphs">
  <p><b>
    Live Graphs give you a real time exhibit of a few matches unparsed fields.
  </b></p>
  <p>
    To choose a field to be displayed simply type in its key, without the 'stats.' prefix, and click 'add'.
    You may select multiple fields, but the scale might become inconsistent.
  </p>
  <p>
    String fields can be used, but their values will be converted to a simple ascending scale.
    The true evaluation will be accessible through the graph's tooltip function.
  </p>
  <p>
    Ordering your matches by date (default) will give you a notion of how often your mod is being played.
  </p>
</template>