<template name="AddMatch">
  <div class="modal fade" id="addMatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title">Add Match</h4>
        </div>
        <div class="modal-body">
          <form id="addMatch-form">
            <div class="row">
              <div class="col-md-2"><label for="xaxis">stats</label></div>
              <div class="col-md-4">
                <input id="key" type="text" class="form-control arrayInput">
              </div>
              <div class="col-md-4">
                <input id="value" type="text" class="form-control arrayInput">
              </div>
              <div class="col-md-2">
                <button type="button" id="addStats" class="btn btn-default">Add</button>
              </div>
            </div>
            {{#with getStats}}
            <div class="row top-10">
              <div class="col-md-offset-2">
                {{#each this}}
                  <div class="selAxis" data-key="{{key}}">{{key}} : {{value}}</div>
                {{/each}}
              </div>
            </div>
            {{/with}}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn blue" id="submitMatch">Save changes</button>
          <button type="button" class="btn default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>