<template name="Home">
  <!-- Mods Total Matches Graph -->
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption graphTitle">
            <i class="fa fa-bar-chart"></i>Total Matches on public Mods
            <div class="subGraphTitle">click a mod for detailed stats</div>
          </div>
          <div class="tools">
            <a class="collapse"></a>
          </div>
        </div>
        <div class="portlet-body">
          <div id="graph" class="graph"></div>
          <div id="legend" class="legendBox top-10"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Update Logs -->
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption graphTitle">
            <i class="fa fa-code"></i>Updates
          </div>
          <div class="tools">
            <a class="collapse"></a>
          </div>
        </div>
        <div class="portlet-body">
          <h4 class="homeItem">{{getDate "24/07/2015"}}</h4>
          <div class="homeItemBox">
            <ul>
              <li>Added array support to graph parsing</li>
              <li>Changed api to receive stats through the body of the post</li>
            </ul>
          </div>
          <h4 class="homeItem">{{getDate "23/07/2015"}}</h4>
          <div class="homeItemBox">
            <ul>
              <li>Public mods view page.</li>
              <li>Contact form</li>
            </ul>
          </div>
          <h4 class="homeItem">{{getDate "22/07/2015"}}</h4>
          <div class="homeItemBox">
            <p>
              First Version of the site:
            </p>
            <ul>
              <li>Basic Api with a single post endpoint.</li>
              <li>Full, live and Relation graphs working.</li>
              <li>Docs page done.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
