<template name="ImageModal">
  <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog imageModal">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="imageModalClose" data-dismiss="modal" aria-hidden="true">
            <i class="fa fa-times"></i>
          </button>
          <div style="position: relative;">
            <div id="carouselModal">
              {{#each imagesModal}}
                <div>
                  <img src="{{getImgUrl url}}" alt="Image Zoom" class="imageModalImage">
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>