.imageModal {
  width: auto;
  text-align: center;
}

#carouselModal {
  padding: 0 !important;
}

#carouselModal .owl-buttons {
  top: 45%;
}

.imageModal > .modal-content {
  display: inline-block;
  width: 800px;
}

.imageModalImage {
  width: 100%;
  height: auto;
}

.imageModal > .modal-content > .modal-body > .imageModalRight,
.imageModal > .modal-content > .modal-body > .imageModalLeft {
  position: absolute;
  height: 300px;
  width: 100px;
  top: 25%;
}

.imageModal > .modal-content > .modal-body > .imageModalRight > button,
.imageModal > .modal-content > .modal-body > .imageModalLeft > button {
  color: #fff;
  width: 30px;
  height: 30px;
  border: 3px solid #fff;
  border-radius: 100px !important;
  background-color: #000;
  -webkit-box-shadow: -2px 2px 16px 1px rgba(0,0,0,1);
  -moz-box-shadow: -2px 2px 16px 1px rgba(0,0,0,1);
  box-shadow: -2px 2px 16px 1px rgba(0,0,0,1);
  text-align: center;
  position: absolute;
  top: 48%;
  left: 35px;
}

.imageModal > .modal-content > .modal-body > .imageModalRight > button,
.imageModal > .modal-content > .modal-body > .imageModalRight > button {
  display: hidden;
}

.imageModal > .modal-content > .modal-body > .imageModalRight {
  right: 0px;
}

.imageModal > .modal-content > .modal-body > .imageModalLeft {
  left: 0px;
}

.imageModal > .modal-content > .modal-body > .imageModalClose {
  top: -15px;
  right: -15px;
  color: #fff;
  width: 30px;
  height: 30px;
  border: 3px solid #fff;
  border-radius: 100px !important;
  position: absolute;
  background-color: #000;
  -webkit-box-shadow: -2px 2px 16px 1px rgba(0,0,0,1);
  -moz-box-shadow: -2px 2px 16px 1px rgba(0,0,0,1);
  box-shadow: -2px 2px 16px 1px rgba(0,0,0,1);
  text-align: center;
}

.imageModal > .modal-content > .modal-body > .imageModalClose:focus,
.imageModal > .modal-content > .modal-body > .imageModalRight > button:focus,
.imageModal > .modal-content > .modal-body > .imageModalLeft > button:focus {
  outline: none;
}