<template name="EmailModal">
  <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title">Contact Form</h4>
        </div>
        <div class="modal-body">
          <form id="emailForm">
            <div class="row">
              <div class="col-md-2"><label>From</label></div>
              <div class="col-md-10">
                <input id="from" type="text" class="form-control">
              </div>
            </div>
            <div class="row top-10">
              <div class="col-md-2"><label>Subject *</label></div>
              <div class="col-md-10">
                <select id="subject" class="form-control">
                  <option value="Help">Help</option>
                  <option value="Bug">Bug</option>
                  <option value="Enhancement">Enhancement</option>
                  <option value="Question">Question</option>
                  <option value="Other">Other</option>
                </select>
              </div>
            </div>
            <div class="row top-10">
              <div class="col-md-2"><label>Content *</label></div>
              <div class="col-md-10">
                <textarea id="content" rows="5" class="form-control"></textarea>
                <span id="content-error" class="error-inline"></span>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn blue" id="submitEmail">Send</button>
          <button type="button" class="btn default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>