<template name="RelationGraphs">
  <p><b>
    Relaction Graphs works much like the Full Graphs, but the matches are subdevided by some field value.
  </b></p>
  <p>
    The first thing you should decide in a relation graph is the "X-axis",
    since the matches will subdivided with regard to this field.
  </p>
  <p>
    To choose a field to be displayed simply type in it's key, without the 'stats.' prefix, and click 'add'.
    You can only choose a single "X-axis", but multiple "Y-axis".
  </p>
  <p>
    For each "Y-axis" chosen, we create a bar column of the desired field for each value
    the field in the "X-axis" takes. These bars are parsed according to the selected graph 'Type'.
    There are currently 8 different parsing options.
  </p>
  <p>
    Keep in mind that these graphs are subjected to the
    <a href="{{pathFor route='Docs' id='Filters'}}">filters</a>,
    so only the matches which match the criteria will be parsed.
  </p>
  
  <h4 class="docsItem">Average</h4>
  <div class="docsItemBox">
    <div class="docsInlineItem">
      <div>field types:</div> numbers
    </div>
    <br>
    <p>
      Get the average value of the desired field in the selected matches.
    </p>
    <p>
      The averages are calculated dividing the 'sub' sums by the <strong>total</strong> amount of matches.
    </p>
    <p>
      Matches were the field was not set <strong>will</strong> evaluate to a zero entry.
    </p>
  </div>
  
  <h4 class="docsItem">Zone Average</h4>
  <div class="docsItemBox">
    <div class="docsInlineItem">
      <div>field types:</div> numbers
    </div>
    <br>
    <p>
      Get the average value of the desired field in the selected matches.
    </p>
    <p>
      The averages are calculated dividing the 'sub' sums by the total amount of matches
      of <strong>each</strong> sub division.
    </p>
    <p>
      Matches were the field was not set <strong>will</strong> evaluate to a zero entry.
    </p>
  </div>

  <h4 class="docsItem">Min & Max</h4>
  <div class="docsItemBox">
    <div class="docsInlineItem">
      <div>field types:</div> numbers
    </div>
    <br>
    <p>
      Get the minimum and maximum values that the desired field held for each subdivision in the selected matches.
    </p>
  </div>
  
  <h4 class="docsItem">Overview</h4>
  <div class="docsItemBox">
    <div class="docsInlineItem">
      <div>field types:</div> numbers
    </div>
    <br>
    <p>
      This option will create 3 bars for each axis, with the corresponding 'Min', 'Max'
      and 'Average' values, for each subdivision.
    </p>
  </div>
  
  <h4 class="docsItem">Sum</h4>
  <div class="docsItemBox">
    <div class="docsInlineItem">
      <div>field types:</div> numbers
    </div>
    <br>
    <p>
      Get the sum of the values of the desired field for each subdivision in the selected matches.
    </p>
  </div>
  
  <h4 class="docsItem">Exists</h4>
  <div class="docsItemBox">
    <div class="docsInlineItem">
      <div>field types:</div> numbers, strings
    </div>
    <br>
    <p>
      This option will count how many matches have the desired field set with anything but a
      <a href="http://www.sitepoint.com/javascript-truthy-falsy/" target="blank">falsy javascript value</a>
      for each subdivision, in the selected matches.
    </p>
  </div>
  
  <h4 class="docsItem">Values</h4>
  <div class="docsItemBox">
    <div class="docsInlineItem">
      <div>field types:</div> numbers, strings
    </div>
    <br>
    <p>
      This option will create a pie chart where each slice represents a different value that the desired
      field took for each subdivision in the selected matches.
    </p>
    <p>
      You should always initialize the desired field with a default value in your mod,
      otherwise you will get a slice for the undefined value.
    </p>
  </div>
</template>