<template name="Api">
  <p>
    Our API is still under development, mostly because of the lack of documentation of how to make
    posts setting the data or header of the call. Currently the only source of info is 
    <a href="https://developer.valvesoftware.com/wiki/Dota_2_Workshop_Tools/Scripting/Using_CreateHTTPRequest"
    target="blank"> Valve's API </a>. Help is appreciated on the subject, feel free to
    <a class="question">contact us</a> if you have any further information!
  </p>
  <p>
    It is likely that our API will change, so if you would like to keep updated,
    we can <a id="updateUser">inform you</a> of any new feature we may come
    to add (like 'Saved Games').
  </p>
  <p>
    There is a simple <a href="/stats.lua" target="blank">demo</a> that will most likely
    cover 99% of your needs.
  </p>
  <hr/>
  <h4 class="docsItem">Add Match Stats</h4>
  <div class="docsItemBox">
    <div class="docsInlineItem">
      <div>endpoint:</div>
      http://modtracker.info/api/match/{{{docsModId}}}/{{{docsKey}}}?{{{docsParams}}}
    </div>
    <div class="docsInlineItem">
      <div>method:</div>
      POST
    </div>

    <h5 class="docsSubItem">{{{docsModId}}} & {{{docsKey}}}</h5>
    <p>
      Both these strings can be found on your mod edit
      {{#if hasMods}}
      <div class="dropdown inlineDropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false" id="navMods">
           page
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          {{#each myMods}}
            <li><a href="{{pathFor route='EditMod' id=_id}}" target="blank">{{name}}</a></li>
          {{/each}}
        </ul>
      </div>
      {{else}}
        page
      {{/if}}.
    </p>

    <h5 class="docsSubItem">{{{docsParams}}}</h5>
    <p>
      For now you can only set a field to a string or number, and we will try to
      convert everything to numbers.
    </p>
    <p>
      The key of a field should not contain special characters or spaces.
    </p>
    <p>
      <a href="{{pathFor route='Docs' id='Modeling'}}">Tag</a> fields should have a prefix
      of 'tags.', while <a href="{{pathFor route='Docs' id='Modeling'}}">Stat</a> fields a prefix
      of 'stats.' . Contatenate everything with a '&'.
    </p>
    Example:
  <pre><code class="js hljs">
  {
    tags: {
      version: '1.0.3',
    },
    stats: {
      time: 45,
      hero: 'techies',
    }
  }</code></pre>

    <p>
      would be: 'tags.version=1.0.3&stats.time=45&stats.hero=techies'
    </p>
    <br>
    <p>
      Any field key that does not match these rules will be disregarded. You can check if any
      field was eliminated in the response.
    </p>
  </div>
</template>