<template name="GraphFilters">
  <div class="modal fade" id="graphFilters" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title">Filters</h4>
        </div>
        <div class="modal-body">
          <form id="graphFilters-form">
            <div class="row">
              <div class="col-md-2"><label>From</label></div>
              <div class="col-md-5">
                <div class="input-group date-picker">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  <input class="form-control" type="text" id="startFilter" placeholder="Start"/>
                </div>
              </div>
              <div class="col-md-5">
                <div class="input-group date-picker">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  <input class="form-control" type="text" id="endFilter" placeholder="End"/>
                </div>
              </div>
            </div>
            <div class="row top-10">
              <div class="col-md-2"><label for="xaxis">Required Tags</label></div>
              <div class="col-md-4">
                <input id="allowkey" type="text" class="form-control allow">
              </div>
              <div class="col-md-4">
                <input id="allowvalue" type="text" class="form-control allow">
              </div>
              <div class="col-md-2">
                <button type="button" id="addAllow" class="btn btn-default">Add</button>
              </div>
            </div>
            {{#with getAllowed}}
            <div class="row top-10">
              <div class="col-md-offset-2">
                {{#each this}}
                  <div class="selAxis" data-array="allowedTags" data-key="{{key}}">{{key}} : {{value}}</div>
                {{/each}}
              </div>
            </div>
            {{/with}}
            <div class="row top-10">
              <div class="col-md-2"><label for="xaxis">Denied Tags</label></div>
              <div class="col-md-4">
                <input id="invalidkey" type="text" class="form-control invalid">
              </div>
              <div class="col-md-4">
                <input id="invalidvalue" type="text" class="form-control invalid">
              </div>
              <div class="col-md-2">
                <button type="button" id="addInvalid" class="btn btn-default">Add</button>
              </div>
            </div>
            {{#with getInvalid}}
            <div class="row top-10">
              <div class="col-md-offset-2">
                {{#each this}}
                  <div class="selAxis" data-array="invalidTags" data-key="{{key}}">{{key}} : {{value}}</div>
                {{/each}}
              </div>
            </div>
            {{/with}}
            <hr>
            <div class="row top-10">
              <div class="col-md-2"><label>Live Limit</label></div>
              <div class="col-md-4">
                <input class="form-control" type="number" id="liveLimit" value="{{live.limit}}"/>
              </div>
              <div class="col-md-2"><label>Full Limit</label></div>
              <div class="col-md-4">
                <input class="form-control" type="number" id="allLimit" value="{{all.limit}}"/>
              </div>
            </div>
            <div class="row top-10">
              <div class="col-md-2"><label>Order</label></div>
              <div class="col-md-5">
                <input class="form-control" type="text" id="orderName" value="{{getOrder}}"/>
              </div>
              <div class="col-md-5">
                <select id="orderType" class="form-control">
                  <option value="ascending" {{getDirection 'ascending'}}>Ascending</option>
                  <option value="descending" {{getDirection 'descending'}}>Descending</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn blue" id="submitFilters">Save changes</button>
          <button type="button" class="btn default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>