<template name="GraphConfig">
  <div class="modal fade" id="graph-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title">Graph configuration</h4>
        </div>
        <div class="modal-body">
          <!-- Available fields -->
          <datalist id="fields">
            {{#each availableFields}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </datalist>

          <form id="graph-config-form">
            <div class="row top-10">
              <div class="col-md-4"><label for="graphName">Graph Name</label></div>
              <div class="col-md-8">
                <input id="graphName" type="text" class="form-control" value="{{data.name}}">
              </div>
            </div>
            {{#if showOption 'count' 'related'}}
            <div class="row top-10">
              <div class="col-md-4"><label for="xaxis">X Axis</label></div>
              <div class="col-md-6">
                <input id="xaxis" type="text" class="form-control" list="fields">
              </div>
              <div class="col-md-2">
                <button type="button" id="addXAxis" class="btn btn-default">Add</button>
              </div>
            </div>
            {{#with getXAxis}}
            <div class="row">
              <div class="col-md-offset-4 top-10">
                {{#each this}}
                  <div class="selAxis" data-array="graphXAxis">{{this}}</div>
                {{/each}}
              </div>
            </div>
            {{/with}}
            {{/if}}
            {{#if showOption 'related' 'live'}}
            <div class="row top-10">
              <div class="col-md-4"><label for="yaxis">Y Axis</label></div>
              <div class="col-md-6">
                <input id="yaxis" type="text" class="form-control" list="fields">
              </div>
              <div class="col-md-2">
                <button type="button" id="addYAxis" class="btn btn-default">Add</button>
              </div>
            </div>
            {{#with getYAxis}}
            <div class="row top-10">
              <div class="col-md-offset-4">
                {{#each this}}
                  <div class="selAxis" data-array="graphYAxis">{{this}}</div>
                {{/each}}
              </div>
            </div>
            {{/with}}
            {{/if}}
            {{#if showOption 'count' 'related'}}
            <div class="row top-10">
              <div class="col-md-4"><label for="yaxis">Type</label></div>
              <div class="col-md-8">
                <select id="graphType" class="form-control">
                  <option value="Average" {{isSelected data.type "Average"}}>Average</option>
                  {{#if showOption 'related'}}
                  <option value="ZoneAverage" {{isSelected data.type "ZoneAverage"}}>ZoneAverage</option>
                  {{/if}}
                  <option value="Max" {{isSelected data.type "Max"}}>Max</option>
                  <option value="Min" {{isSelected data.type "Min"}}>Min</option>
                  <option value="Overview" {{isSelected data.type "Overview"}}>Overview</option>
                  <option value="Sum" {{isSelected data.type "Sum"}}>Sum</option>
                  <option value="Exists" {{isSelected data.type "Exists"}}>Exists</option>
                  <option value="Values" {{isSelected data.type "Values"}}>Values</option>
                </select>
              </div>
            </div>
            {{/if}}
           <!-- <button type="button" id="advancedGraph">Show advanced settings...</button>
           <div id="advancedGraphBox" hidden>
            bla
           </div> -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn blue" id="submitGraph">Save changes</button>
          <button type="button" class="btn default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>