<template name="GetStarted">
  <p><b>
    Dota tracker is a platform for storing your DotA 2 Reborn mod's stats,
    and displaying them in a human readable way.
  </b></p>
  <p>
    What is stored is completely up to you, ranging from a simple game time,
    to how much damage a hero received in the 3rd round by wolves.
  </p>
  <p>
    You can create graphs with your data and set your own custom filters and tags
    to provide you with statistics so you can better balance your mod.
  </p>

  <h4 class="docsItem">Set Up</h4>
  <div class="docsItemBox">
    <ul class="docsSetUp">
      <li><i class="fa {{hasAccount}}"></i> Create an <a id="docsAccount">account</a></li>
      <li>
        <i class="fa {{hasMods}}"></i>
        Create a <a href="{{pathFor route='NewMod'}}" target="blank">mod</a>
      </li>
      <li>
        <i id="docsApiDone"></i>
        Integrate your mod with our
        <a href="{{pathFor route='Docs' id='Api'}}">API</a>
      </li>
      <li>
        <i id="docsGraphsDone"></i> Visualize your data with
        <a href="{{pathFor route='Docs' id='LiveGraphs'}}">graphs</a>
      </li>
    </ul>
  </div>

  <h4 class="docsItem">Tips</h4>
  <div class="docsItemBox">
    <p> There is an easy lua integration <a href="/stats.lua" target="blank">here</a>.</p>
    <p>
      See the <a href="{{pathFor route='Docs' id='Examples'}}">examples</a>
      for some ideas on how to model your stats.
    </p>
  </div>
</template>