/* METRONIC OVERRIDES */
.inbox .inbox-nav li a {
  background-color: #fff;
}

.inbox .inbox-nav li b {
  z-index: 2;
}


/* MY SHIT */
.doc-title,
.doc-title:hover {
  font-family: "Open Sans", sans-serif;
  float: left;
  height: 50px;
  padding: 15px 0;
  font-size: 18px;
  line-height: 20px;

  color: #000 !important;
  margin: 0px;
  font-weight: 500;
}

#question {
  border-left: 1px solid #ddd;
}

#question:hover,
#question[aria-expanded="true"] {
  border-left: 2px solid #205081;
  background-color: transparent;
}

#question:hover:after {
  content: ' Questions and feedback';
  margin-left: 10px;
}

.docsItem {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 20px;
}

.docsSubItem {
  margin-left: -10px;
  margin-top: 15px;
  font-size: 17px;
}

.docsItemBox {
  /*border-top: 1px solid #ddd;*/
  padding-top: 15px;
  padding-left: 15px;
}

.docsSetUp {
  list-style: none;
  padding-left: 0;
}

.docsInlineItem div {
  width: 80px;
  color: #888;
  display: inline-block;
}

#DocsBox pre {
  padding: 0;
  border: none;
}

#DocsBox #scrollTop {
  position: fixed;
  bottom: 15px;
  right: 30px;

  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px 15px;
  outline: none;
  z-index: 1;
}

#DocsBox #scrollTop:hover {
  border-color: #888;
}
