<template name="Docs">
  <div id="DocsBox">
    <button id="scrollTop"><i class="fa fa-arrow-up"></i></button>

    <nav class="navbar navbar-default modHeader">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <div class="doc-title"> Documentation </div>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a id="question" class="question"><i class="fa fa-question"></i></a></li>
        </ul>
      </div>
    </nav>

    <div class="row inbox">
      <div class="col-md-3">
        <ul class="inbox-nav margin-bottom-10">
          <li class="{{isActive 'GetStarted'}}">
            <a class="btn" href="{{pathFor route='Docs' id='GetStarted'}}">
            Getting Started </a>
            <b></b>
          </li>
          <li class="{{isActive 'Modeling'}}">
            <a class="btn" href="{{pathFor route='Docs' id='Modeling'}}">
            Modeling </a>
            <b></b>
          </li>
          <li class="{{isActive 'Api'}}">
            <a class="btn" href="{{pathFor route='Docs' id='Api'}}">
            API </a>
            <b></b>
          </li>
          <li class="{{isActive 'LiveGraphs'}}">
            <a class="btn" href="{{pathFor route='Docs' id='LiveGraphs'}}">
            Live Graphs </a>
            <b></b>
          </li>
          <li class="{{isActive 'FullGraphs'}}">
            <a class="btn" href="{{pathFor route='Docs' id='FullGraphs'}}">
            Full Graphs </a>
            <b></b>
          </li>
          <li class="{{isActive 'RelationGraphs'}}">
            <a class="btn" href="{{pathFor route='Docs' id='RelationGraphs'}}">
            Relation Graphs </a>
            <b></b>
          </li>
          <li class="{{isActive 'Filters'}}">
            <a class="btn" href="{{pathFor route='Docs' id='Filters'}}">
            Filters </a>
            <b></b>
          </li>
          <li class="{{isActive 'Examples'}}">
            <a class="btn" href="{{pathFor route='Docs' id='Examples'}}">
            Examples </a>
            <b></b>
          </li>
        </ul>
      </div>

      <div class="col-md-9">
        <div class="portlet light bordered">
          <div class="portlet-title">
            <div class="caption graphTitle">{{getPage}}</div>
          </div>
          <div class="portlet-body">
            {{> Template.dynamic template=getTemplate}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>