<template name="Examples">
  <p><b>
    Here are some ideas and how to's.
  </b></p>
  <p>
    These examples were made using our default <a href="/stats.lua" target="blank">integration</a>.
  </p>
  <p>
    If you have any more good ideas or difficulties please <a id="contactDocs">contact us</a>.
  </p>
  
  <h4 class="docsItem">Time</h4>
  <div class="docsItemBox">
    <p>
      Get the final gametime and do some parsing.
    </p>
    <p>
      The simple game time is great to see how long a game usually takes, this way players can better
      estimate if they have time to play your game for instance.
    </p>
    <p>
      Dividing the time in subparts is essential if you want to use the relation graph.
    </p>

  <pre><code class="lua">
  -- Define a function for the last second stats gathering before the actual match publish
  function Publish()
    -- game time in seconds
    local time = GameRules:GetGameTime()
    local minutes = time / 60

    -- Divide time in 3 ranges so we can create some better graphs
    local humanTime = "time &lt; 20"
    if (minutes > 60)
      humanTime = "time > 60"
    else if (minutes > 20)
      humanTime =  '20 &lt; time &lt; 60'

    -- Add stats to our current match object
    Stats:setString("humanTime", humanTime)
    Stats:setNumber("time", minutes)

    -- Start publish logic
    Stats:publish()
  end</code></pre>
  </div>
  
  <h4 class="docsItem">Players Count</h4>
  <div class="docsItemBox">
    <p>
      Register a listener to count how many players connected to the game.
    </p>
    <p>
      This could be used to balance your game, though the usage of relational graphs.
    </p>
    <p>
      You might also discover if your mod is fun with less then a full pt.
    </p>


  <pre><code class="lua">
  -- addon_game_mode.lua
  -- ...
  function Activate()
    --  ...
    ListenToGameEvent("player_spawn", PlayerSpawn, nil)
    --  ...
  end

  -- Event Handler
  function PlayerSpawn( context )
    -- check if the entity spawned is a player
    if context.userid  ~= -1 then
      -- Increment stats to our current match object
      Stats:inc("players", 1)
    end
  end</code></pre>
  </div>

  <!-- <h4 class="docsItem">Entity Damage</h4>
  <div class="docsItemBox">
    <p>
      Register a listener to gather the damage delt in game.
    </p>
    <p>
      This data is crucial in order to properly balance your heroes and enemies.
    </p>
  </div> -->
</template>