.modPre {
  border: none;
  border-color: #23241f;
  padding: 0;
}

.modPre code {
  padding: 10px 20px;
}

.modHeader .navbar-brand {
  color: #000;
}

.private-mod {
  color: #a94442;
}

.public-mod {
  color: #3c763d;
}

#graphTools {
  border-left: 1px solid #ddd;
}

#graphTools:hover,
#graphTools[aria-expanded="true"] {
  border-left: 2px solid #205081;
  background-color: transparent;
}

#graphTools:hover:after {
  content: ' TOOLS';
  margin-left: 10px;
}

.modHeader .dropdown-menu li a {
  padding-left: 10px; 
}

.modHeader .dropdown-menu li a .fa {
  margin-right: 10px;
}

.graph {
  width: 100%;
  height: 300px;
}

.graphTitle .fa,
.graphTitle {
  color: #205081 !important;
  font-weight: bold;
  text-transform: uppercase;
}

.graphTitle {
  font-family: "Open Sans", sans-serif !important;
  font-size: 16px !important;
}

.graphTitle .fa {
  margin-right: 10px !important;
}

.selAxis {
  display: inline-block;
  padding: 3px 7px;
  border: 1px solid blue;
  cursor: pointer;
  margin-bottom: 3px;
}

.legendBox {
  margin-top: 10px;
}

.legendBox table tbody tr {
  float: left;
  margin-right: 10px;
  min-height: 30px;
}

.legendBox table tbody tr .legendColorBox {
  padding-right: 3px;
}

.pieLabel div {
  color: #000 !important;
}

.collapse {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition:    -moz-transform 0.5s ease-in-out;
  -o-transition:      -o-transform 0.5s ease-in-out;
  transition:         transform 0.5s ease-in-out;
}

.collapse.on {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.reload:hover {
  -webkit-animation:spi:hovern 1.3s linear infinite;
  -moz-animation:s:hoverpin 1.3s linear infinite;
  animation:spin 1.3s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }