<template name="Mod">
  {{#if isOwner}}
    {{> GraphConfig data=selGraph}}
    {{> AddMatch}}
    {{> DeleteModal}}
  {{/if}}
  {{> GraphFilters query=getQuery live=getLive all=getAll}}

  <nav class="navbar navbar-default modHeader">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="{{url}}" target="blank">{{name}} ({{matchCount}})</a>
      </div>

      {{#if isOwner}}
        <ul class="nav navbar-nav navbar-left">
          <li><a id="modPublic">{{{isPublic}}}</a></li>
        </ul>
      {{/if}}

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
             aria-haspopup="true" aria-expanded="false" id="graphTools">
             <i class="fa fa-wrench"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a id="setFilters"><i class="fa fa-sliders"></i>Set Filters</a></li>
            {{#if isOwner}}
              <li><a id="liveGraph"><i class="fa fa-line-chart"></i>Live Graph</a></li>
              <li><a id="newGraph"><i class="fa fa-bar-chart"></i>Full Graph</a></li>
              <li><a id="relGraph"><i class="fa fa-exchange"></i>Relation Graph</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{{pathFor route='EditMod' id=_id}}"><i class="fa fa-cog"></i>Edit Mod</a></li>
              <li><a id="newMatch"><i class="fa fa-plus"></i>Add Match</a></li>
              <!-- <li><a id="testApi">Test Api</a></li> -->
              <li><a id="clearMatches"><i class="fa fa-trash"></i>Clear Matches</a></li>
            {{/if}}
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  {{#if description}}
  <pre class="modPre"><code>{{description}}</code></pre>
  {{/if}}

  <div class="row graphsBox">
    {{#each graphs}}
      <div class="col-md-6" id="{{id}}">
        <div class="portlet light bordered">
          <div class="portlet-title">
            <div class="caption graphTitle"><i class="fa {{getFaIcon}}"></i>{{name}}</div>
            <div class="tools">
              <a class="collapse"></a>
              {{#if showOption 'count' 'related'}}
                <a data-id="{{id}}" class="reload"></a>
              {{/if}}
              {{#if isOwnerGraph}}
                <a data-id="{{id}}" class="config"></a>
                <a data-id="{{id}}" class="remove"></a>
              {{/if}}
            </div>
          </div>
          <div class="portlet-body">
            <div id="graph{{id}}" class="graph"></div>
            <div id="legend{{id}}" class="legendBox top-10"></div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</template>