/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
.row-fix {
  margin-right: 0;
  margin-left: 0;
}
.inline {
  display: inline-block;
}

.top-50 {
  margin-top: 50px;
}

.top-10 {
  margin-top: 10px;
}

.box {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  padding: 10px;
}

.dropdown-menu-right:before {
  right: 9px !important;
  left: auto !important;
}
.dropdown-menu-right:after {
  right: 10px !important;
  left: auto !important;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none !important;
}

.dropup .dropdown-menu:before {
  position: absolute;
  bottom: -8px;
  left: 9px;
  right: auto;
  display: inline-block !important;
  border-right: 8px solid transparent;
  border-top: 8px solid #e0e0e0;
  border-left: 8px solid transparent;
  content: '';
}

.dropup .dropdown-menu:after {
  position: absolute;
  bottom: -7px;
  left: 10px;
  right: auto;
  display: inline-block !important;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  border-left: 7px solid transparent;
  content: '';
}

.inlineDropdown {
  display: inline-block;
}

.docsModId {
  color: green;
}

.docsKey {
  color: purple;
}

.docsParams {
  color: red;
}

textarea {
  resize: vertical;
}

.error-inline {
  color: #a94442;
}