<template name="NewMod">
  <div id="newmod" class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption graphTitle">{{getType}} Mod</div>
        </div>
        <div class="portlet-body">
          <form id="modForm" role="form" class="boxShadow">
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <label for="name">Name *</label>
                  <input id="name" name="name" type="text" class="form-control" value="{{name}}"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <label for="url">Url</label>
                  <input id="url" name="url" class="form-control" type="text" value="{{url}}" placeholder="http://"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <label for="description">Description</label>
                  <textarea id="description" class="form-control" rows="4" 
                    maxlength="600" placeholder="600 characters">{{description}}</textarea>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-success text-uppercase">Submit</button>
          </form>
        </div>
      </div>

      {{#if HasMod}}
      <div class="alert alert-danger">
        modId: <strong>{{_id}}</strong><br>
        key: <strong>{{key}}</strong>
      </div>
      {{/if}}
    </div>
  </div>
</template>